<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <title>Experience</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800" rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="lib/animate/animate.min.css" rel="stylesheet">
    <link href="lib/venobox/venobox.css" rel="stylesheet">
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Main Stylesheet File -->
    <link href="css/style.css" rel="stylesheet">
</head>

<body>
    <header id="header">
        <div class="container">

            <div id="logo" class="pull-left">
      
                <h1><a href="#main">E<span>xperi</span>ence</a></h1>
            </div>
            <nav id="nav-menu-container">
                <ul class="nav-menu">
                    <li><a href="http://www.acharyahabba.in/index.php">Home</a></li>
                    <li class="menu-active"><a href="#about">Experience</a></li>
                    <li><a href="#schedule">Acharya Olympics</a></li>
                    <li><a href="#hotels">Main Days</a></li>
                    <li><a href="#sponsors">Sponsors</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </nav>
            <!-- #nav-menu-container -->
        </div>
    </header>
    <!-- #header -->


    <!--==========================
      Venue Section
    ============================-->
    <section id="venue" class="wow fadeInUp">

        <div class="container-fluid">

            <div class="section-header">
                <h2>Experience</h2>
                <p>Experience is only thing you can't get for nothing </p>
                <p style="margin-left:25%">-<i>Oscar Wilde</i></p>
            </div>

            <div class="row no-gutters">
                <div class="col-lg-6 venue-map"><iframe width="100%" height="auto" frameborder="1" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=acharya%20habba&key=AIzaSyAqZfw03d2lmk-2ZuDN9pGuhbA6lITWwCY&zoom=18" allowfullscreen></iframe>
                </div>

                <div class="col-lg-6 venue-info">
                    <div class="row justify-content-center">
                        <div class="col-11 col-lg-8">
                            <h3>Acharya Institutes</h3>
                            <p style="word-spacing:2px;">Acharya Institutes, committed to the cause of value-based education in all disciplines, envisions itself
                                    as a fountainhead of innovative human enterprise, with inspirational initiatives for Academic Excellence</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="container-fluid venue-gallery-container">
            <div class="row no-gutters">

                <div class="col-lg-3 col-md-4">
                    <div class="venue-gallery">
                        <a href="img/venue-gallery/1.png" class="venobox" data-gall="venue-gallery">
                            <img src="img/venue-gallery/1.png" alt="" class="img-fluid">
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4">
                    <div class="venue-gallery">
                        <a href="img/venue-gallery/2.png" class="venobox" data-gall="venue-gallery">
                            <img src="img/venue-gallery/2.png" alt="" class="img-fluid">
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4">
                    <div class="venue-gallery">
                        <a href="img/venue-gallery/3.png" class="venobox" data-gall="venue-gallery">
                            <img src="img/venue-gallery/3.png" alt="" class="img-fluid">
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4">
                    <div class="venue-gallery">
                        <a href="img/venue-gallery/4.png" class="venobox" data-gall="venue-gallery">
                            <img src="img/venue-gallery/4.png" alt="" class="img-fluid">
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4">
                    <div class="venue-gallery">
                        <a href="img/venue-gallery/5.png" class="venobox" data-gall="venue-gallery">
                            <img src="img/venue-gallery/5.png" alt="" class="img-fluid">
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4">
                    <div class="venue-gallery">
                        <a href="img/venue-gallery/6.png" class="venobox" data-gall="venue-gallery">
                            <img src="img/venue-gallery/6.png" alt="" class="img-fluid">
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4">
                    <div class="venue-gallery">
                        <a href="img/venue-gallery/7.png" class="venobox" data-gall="venue-gallery">
                            <img src="img/venue-gallery/7.png" alt="" class="img-fluid">
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4">
                    <div class="venue-gallery">
                        <a href="img/venue-gallery/8.png" class="venobox" data-gall="venue-gallery">
                            <img src="img/venue-gallery/8.png" alt="" class="img-fluid">
                        </a>
                    </div>
                </div>

            </div>
        </div>

    </section>

    <!--==========================
        Main Days
    ============================-->
    <section id="hotels" class="section-with-bg wow fadeInUp">

        <div class="container">
            <div class="section-header">
                <h2>Main Days</h2>
                <p></p>
            </div>

            <div class="row">

                <div class="col-lg-4 col-md-6">
                    <div class="hotel">
                        <div class="hotel-img">
                            <img src="img/hotels/1.png" alt="Day 1" class="img-fluid">
                        </div>
                        <h3><a href="#">Day 1</a></h3>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="hotel">
                        <div class="hotel-img">
                            <img src="img/hotels/2.png" alt="Day 2" class="img-fluid">
                        </div>
                        <h3><a href="#">Day 2</a></h3>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="hotel">
                        <div class="hotel-img">
                            <img src="img/hotels/3.png" alt="Hotel 3" class="img-fluid">
                        </div>
                        <h3><a href="#">Day 3</a></h3>
                    </div>
                </div>

            </div>
        </div>

    </section>
    <!-- JavaScript Libraries -->
    <script src="lib/jquery/jquery.min.js"></script>
    <script src="lib/jquery/jquery-migrate.min.js"></script>
    <script src="lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/wow/wow.min.js"></script>
    <script src="lib/venobox/venobox.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>
    <!-- Template Main Javascript File -->
    <script src="js/main.js"></script>
</body>

</html>